# Ignore sql dumps.
sql
*.sql.gz
*.sql

# Local environment files
.idea
nbproject
.tags
.tags1
.vscode
*.code-workspace
.env
.DS_Store

# Ignore configuration files that may contain sensitive information
web/sites/*/*settings*.php
web/sites/*/*services*.yml

# Ignore paths that may contain user-generated content
web/sites/*/files
web/sites/*/public
web/sites/*/private
web/sites/*/files-public
web/sites/*/files-private

# Ignore paths that may contain temporary files
web/sites/*/translations
web/sites/*/tmp
web/sites/*/cache
.php_cs.cache

# Ignore drupal core (if not versioning drupal sources)
/vendor
/web/core
/web/modules/README.txt
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/README.txt
/web/profiles/contrib/
/web/libraries/
/web/sites/README.txt
/web/sites/example.sites.php
/web/sites/example.settings.local.php
/web/sites/development.services.yml
/web/themes/README.txt
/web/.csslintrc
/web/.eslintignore
/web/.eslintrc.json
/web/autoload.php
/web/example.gitignore
/web/index.php
/web/LICENSE.txt
/web/README.txt
/web/robots.txt
/web/update.php
/web/web.config
/web/.ht.router.php
/web/INSTALL.txt
/web/.gitignore

/.editorconfig
/.gitattributes

# Lando config files.
lando.local.yml